.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1400px;
    gap: 60px;
    margin: 120px auto;
}

.list {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
    margin-top: 0;
}

.link {
    text-decoration: none;
}

.activeLink{
    text-decoration: none;
    color: #f2f2f3;
}

.menu {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;

}

.content {
    grid-column: 2/4;
}
