.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    list-style: none;
    background-color: #1C1C21;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link {
    text-decoration: none;
}

.activeLink{
    text-decoration: none;
    color: #f2f2f3;
}
